body{
  background-color: hsl(212, 45%, 89%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  margin: 0;
}
.card{
  width: 320px;
  height: 497px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);

}
.qr{
  width: 288px;
  height: 288px;
  border-radius: 10px;
  margin: 16px;
  background-image: url("images/image-qr-code.png");
  background-size: cover;
}
.title{
  font-family: 'Outfit', sans-serif;
  font-weight: 700;
  font-size: 22px;
  margin: 24px 16px 16px 16px;
  text-align: center;
  color: hsl(218, 44%, 22%);
  line-height: 27px;
}
.text{
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
  font-size: 15px;
  margin: 0px 22px 16px 22px;
  text-align: center;
  color: #7D889E;
  letter-spacing: 0.19px;
  line-height: 21px;
}
.attribution{
  position: absolute;
  bottom: 0;
  font-family: "Comic Sans MS";
  font-size: 11px;
  text-align: center;
  width: 100%;
  height: 20px;
  line-height: 20px;
  background-color: #ebe5b2;
}
.attribution a { color: hsl(228, 45%, 44%); }